<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header :: head">
    <meta charset="UTF-8">
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>
<div class="col" style="margin: 30px 0px 10px 0px;" sec:authorize="isAuthenticated()">
    <div class="offset-10">
        <button class="btn body-btn" onclick="location.href='boards/list'">
            글 보러 가는 곳
        </button>
        <button class="btn body-btn" onclick="location.href='boards/write'">
            글 쓰러 가는 곳
        </button>
        <button class="btn body-btn" onclick="location.href='boards/codeView'">
            코드 보러 가는 곳
        </button>
    </div>
</div>
</body>
</html>
